/* variables */

:root {
    --primary-color: #EDDE87;
    --secondary-color: white;
    --accent-color-1: #ABABEA;
    --accent-color-2: #2f2f73;

}

/* global settings */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding: 2px;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

/* header */
/* mobile menu */

#mobile-menu-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    /* height: 100vh; */
    border: purple solid 2px;
}

#icon-area {
    border: black solid 2px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

#icon {
    border: red solid 2px;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon-bar {
    width: 100%;
    height: 15%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: #00000090 2px 2px;
}

#mobile-menu {
    border: green solid 2px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-item {
    border: red solid 2px;
    width: 80%;
    height: 60px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    color: black;
}

.mobile-item:hover {
    background-color: var(--accent-color-1);
    text-decoration: underline;
}

.icon {
    height: 50px;
    width: 50px;
}


/* utilities */
.btn {
    padding: 10px;
    /* border: 2px solid var(--accent-color-1); */
    border-radius: 7px;
}

.btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.current {
    background-color: var(--accent-color-1);
}




.news {
    margin: 10px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    background-color: var(--secondary-color);
    border-radius: 15px;
}


#articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#articles a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#articles img {
    max-width: 100%;
    max-height: 250px;
}



#news-preferrences,
#alarm-interface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    line-height: 1.3rem;
}